@using Business.ViewModels.News
@model NewsUpdateVM

<form enctype="multipart/form-data" method="post" asp-action="Update" asp-controller="News">
    <div class="form-group">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body" class="form-label"></label>
        <textarea asp-for="Body" class="form-control" placeholder="Enter context"></textarea>
        <span asp-validation-for="Body"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Photo" class="form-label"></label>
        <input asp-for="Photo" class="form-control" placeholder="Select Photo" />
        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>
    <br/>
    <div class="form-group">
        <img class="w-25" src="~/assets/img/@Model.PhotoName" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
    <a asp-action="Index" asp-controller="News" class="btn btn-danger mt-3">Back</a>
</form>

@section Styles {
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css" />
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.css" />
}

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/44.1.0/ckeditor5.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('textarea[name="Body"]'))
            .catch(error => {
                console.error(error);
            });
    </script>
}
